.App {
  text-align: center;
}

.AppHeader {
  background-color: bisque;
}

.Grid {
  margin: 1rem;
  border: 1px solid burlywood;
}

.HeaderRow {
  display: flex;
  border-bottom: 1px solid burlywood;
  height: 30px;
}

.HeaderCell {
  border-right: 1px solid burlywood;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DataRow {
  display: flex;
  border-bottom: 1px solid burlywood;
  height: 25px;
}

.Cell {
  border-right: 1px solid burlywood;
}